body {
    background-color: rgb(196, 207, 217);
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding-top: 25px;
    color: rgb(49, 49, 49);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 10px;
    padding: 20px;
    border-radius: 8px;
    width: 340px;
}

.row {
    display: flex;
    gap: 25px;
}

.form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgb(211, 225, 238);
    border: none;
    border-radius: 4px;
}

.btn {
    width: 100%;
    padding: 10px;
    background: rgb(0, 0, 6);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}