.page {
    width: 600px;
    padding: 60px;
    margin: 60px auto;
    background: #eceff4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.raised-btn {
    background: #4a78f6;
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 18px 40px;
    border: none;
    border-radius: 14px;
    cursor: pointer;

    border-top: 3px solid rgba(255, 255, 255, 0.35);
    box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
       
}
