body {
    margin: 0;
    padding: 0;
    font-family: Georgia, "Times New Roman", serif;
    background: #ffffff;
}

.card {
    max-width: 700px;
    margin: 60px auto;
    padding: 40px 50px;
    border: 1px solid #e6e6e6;
    background: #fff;
}

.quote {
    font-size: 22px;
    line-height: 1.6;
    color: #4a5a6a;
    font-style: italic;
    margin: 0 0 30px 0;
    position: relative;
}

.quote::before {
    content: "“";
    font-size: 64px;
    color: #cfd8e3;
    position: absolute;
    left: -35px;
    top: -25px;
}

.quote::after {
    content: "”";
    font-size: 64px;
    color: #cfd8e3;
    position: absolute;
    right: 80px;
    bottom: -45px;
}


.author {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #7a8a9a;
    font-size: 14px;
}

.author .line {
    width: 30px;
    height: 2px;
    background-color: #cfd8e3;
}

.name {
    font-weight: 600;
    color: #4a5a6a;
}