.page {
    width: 400px;
    padding: 40px;
    margin: 40px auto;
    background: #3e4452;
    display: flex;
    justify-content: center;
    align-items: center;
}


.upload-card {
    background: #2f3441;
    width: 280px;
    padding: 40px 30px;
    border-radius: 20px;


    border-bottom: 2px solid rgba(255, 255, 255, 0.12);
    box-shadow:
        inset 0 2px 2px hsla(0, 0%, 0%, 0.1);
    text-align: center;
}

.icon {
    font-size: 40px;
    margin-bottom: 15px;
    opacity: 0.9;
}

.upload-card p {
    margin: 6px 0;
    color: #d9dde7;
    font-size: 16px;
    font-family: sans-serif;
}

.browse {
    color: #66c5ff;
    cursor: pointer;
}

.browse:hover {
    text-decoration: underline;
}