body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #e8eef2;
}

.grid-container {
    width: 100%;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.grid-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.grid {
    width: 90%;
    max-width: 900px;
    height: 100%;
    background: repeating-linear-gradient(
        to right,
        rgba(255, 0, 0, 0.12) 0,
        rgba(255, 0, 0, 0.12) 60px,
        rgba(255, 255, 255, 0) 60px,
        rgba(255, 255, 255, 0) 120px
    );
} 
.login-box {
    width: 330px;
    padding: 30px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgba(0,0,0,0.1);

}

.login-box h2 {
    font-size: 18px;
    text-align: center;
    margin-bottom: 25px;
    
}

.label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #353333;
}

.input-box {
    width: 93%;
    padding: 10px;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
    margin-bottom: 18px;
}

.password-row {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 16px;
    cursor: pointer;
}

.options-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.remember {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #353333;
}

.forgot {
    font-size: 12px;
    font-weight: 600;
    color: #0d3c55;
    text-decoration: none;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #0b8ca7;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}
