.product-card {
    display: flex;
    gap: 24px;
    max-width: 900px;
    margin: 40px auto;
    border: 1px solid lightgray;
    font-family: Arial, sans-serif;
}

.product-image img {
    width: 360px;
    height: auto;
    padding-top: 16px;

}
.product-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 18px;
}

.product-link {
    text-decoration: none;
    font-size: 14px;
    color: #2a2929;
    margin-bottom: 14px;
}

.color-label {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 14px;
}

.price {
    font-size: 28px;
    margin-bottom: 24px;
}

.text {
    font-size: 14px;
    color: #2a2929;
    line-height: 1.4;
    margin-bottom: 16px;
}

.color-options {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-bottom: 20px;
}

.color-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;

}

.brown {
    background: #b5835a;
}

.black {
    background: #000;
}

.cream {
    background: #f5e6d2;
}

.cart-btn {
    padding: 12px 20px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 14px;
    cursor: pointer;
}

.shipping {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 14px;
}

.shipping .dot {
    width: 12px;
    height: 12px;
    background: #4CAF50;
    border-radius: 50%;
}

.delivery-box {
    background: #d4d3d3;
    padding: 16px;
}

.delivery-box h4 {
    font-size: 16px;
    margin-bottom: 24px;
}

.delivery-box label {
    gap: 12px;
    color: #2a2929;
}

.delivery-box input {
    width: 80%;
    padding: 12px;
    font-size: 14px;
    border: none;
}