.container {
    /* background-image: linear-gradient(black, white); */
    background-image: url("Images/background-img.avif");
    /* font-family: 'Times New Roman', Times, serif; */
    max-width: 900px;
    margin: 20px auto;
    padding: 60px;

}

.logo {
    display: flex;
}

button {
    background: #00857A;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}