body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f2f1f1;
    font-family: Arial, sans-serif;

}

.card {
    width: 360px;
    padding: 20px;
    margin: 40px auto;
    background: #f4fbfd;
    overflow: hidden;
    box-shadow: 1px 8px 20px rgba(5, 5, 5, 0.08);
    /* border: 1px solid rgba(2, 2, 2, 0.08); */
}

img {
    width: 100%;
    height: 220px;
    margin: 20px 0px 20px 0px;
    object-fit: cover;
    border-radius: 6px;

}

.content {
    padding-bottom: 40px;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    color: #8a8a8a;
    letter-spacing: 1px;
    margin-bottom: 8px;
}

h2 {
    font-size: 20px;
    color: #222;
    margin-bottom: 10px;

}

p {
    font-size: 16px;
    color: #333;
    margin-bottom: 12px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.stars {
    color: #00a699;
    font-size: 24px;
}

.reviews {
    font-size: 22px;
    font-weight: 600;
    color: #555;
}