body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: #e8edf1;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #ffffff;
    border-bottom: 1px solid #d5dbe0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.img{
    width: 35px;
    height: 35px;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #444;
    font-size: 16px;
    font-weight: 600;
}

.signup-btn {
    font-size: 16px;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    background: #e8edf1;
    cursor: pointer;
}

.login-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.login-card {
    width: 350px;
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.login-card h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 500;
}

label {
    font-size: 14px;
    margin: 6px 0;
    display: block;
}

.input-box {
    width: 94%;
    padding: 10px;
    border: 1px solid #d4d9df;
    border-radius: 6px;
    margin-bottom: 10px;
}

.password-box {
    display: flex;
    align-items: center;
    border: 1px solid #d4d9df;
    border-radius: 6px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.password-box input {
    border: none;
    flex: 1;
    padding: 10px;
}

.eye-icon {
    font-size: 16px;
    color: #666;
    cursor: pointer;
}

.extras {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 20px;
    font-size: 14px;
}

.forgot {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #007e8f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

