.container{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    background: #f9fafb;
    padding: 30px;
    max-width: 900px;
    margin: 20px auto;
    border: 1px solid #e1e1e1;
    /* font-family: freight-text; */

}
.img{
    width: 40%;
    max-height: 800px;
    background-image: url(https://c0.wallpaperflare.com/preview/794/968/966/background-coffee-cup-desk.jpg);
}
button{
    background: #6c447d;
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
}