* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 40px;
    background: #fff;
    border-bottom: 1px solid #eaeaea;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    color: #0077cc;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.signin {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.demo-btn {
    padding: 8px 14px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.hero {
    position: relative;
    height: 80vh;

    background-image: url("room.jpg");
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */

    /* Lower image contrast + increase brightness */
    filter: brightness(140%) contrast(50%);

    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-content {
    position: relative;
    text-align: center;
    color: #030303;
    max-width: 700px;
    padding: 20px;
}

.hero-content h1 {
    font-size: 44px;
    margin-bottom: 16px;
    line-height: 1.2;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 28px;
    opacity: 0.9;
}

.primary-btn {
    background: #0077cc;
    color: #fff;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}