.page {
    width: 800px;
    margin: 30px auto;
    background: #f1f3f6;
    padding: 40px;
    font-family: sans-serif;
}

h3 {
    font-size: 14px;
    font-weight: 700;
    color: #7c8594;
    margin: 30px 0 10px;
}

.chitchat-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 300px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
    background: #ffffff;
    border-radius: 16px;
    margin-bottom: 30px;
}

.card h4 {
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0;
    color: #2b3748;
}

.card p {
    letter-spacing: 1px;
    font-size: 15px;
    margin: 3px 0 0;
    color: #697484;
}

.icon {
    width: 60px;
}

/* 1. Cast by direct light */
.direct {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

/* 2. Cast by ambient light*/
.ambient {
    box-shadow: 0 18px 55px rgba(0, 0, 0, 0.10);
}

/* 3. Combined*/
.combined {
    box-shadow:
        0 6px 18px rgba(0, 0, 0, 0.12),
        /* direct */
        0 22px 65px rgba(0, 0, 0, 0.10);
    /* ambient */
}