body {
    padding: 20px;
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hotel-img {
    width: 50%;
    height: auto;
}

.hotel-card {
    display: flex;
    margin: 0 auto;
    width: 600px;
    background: white;
    overflow: hidden;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);

}

.hotel-content {
    width: 50%;
    padding: 24px;
}

.suite-type {
    color: rgb(67, 132, 110);
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
}

.price {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
}

.price span {
    font-size: 14px;
    color: #666;
    margin-left: 6px;
}

.rates-btn {
    width: 75%;
    margin-top: 20px;
    background: #f4b73a;
    border: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    color: rgb(151, 26, 26);
    font-weight: 700;
}

.fav-btn {
    margin-left: 10px;
    border: 2px solid #ddd;
    background: white;
    border-radius: 8px;
    padding: 10px 14px;
    cursor: pointer;
}

.highlights-title {
    margin-top: 24px;
    font-size: 14px;
    color: #777;
    letter-spacing: 1px;
}

.highlights {
    margin-top: 12px;
    padding-left: 18px;
    line-height: 1.8;
}

.highlights li {
    font-size: 14px;
    color: #444;
}