body {
    padding: 0;
    margin: 0;
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 30px auto;
    width: 520px;
    gap: 20px;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

}

.img-sec img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 65% 100%;

}

.img-sec {
    width: 80px;
    height: 100px;

}

.content h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}

.content p {
    font-size: 14px;
    color: #555;
    row-gap: 10px;
    margin-bottom: 10px;
}

.link {
    color: #2a66ff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    
}