.container{
    /* background-image: linear-gradient(black, white); */
    background-image: url("hand-holding-money-putting-coins-stack-with-plant-growth_34152-3303.avif");
    font-family: 'Times New Roman', Times, serif;
    
}
nav{
    display: flex;
}
button{
    background-color: rgb(74, 111, 105);
    color: white;
    padding: 8px;
    border: none;
    border-radius: 3px;
}